.bg-ingreso {
  background-image: url('/src/assets/img/angaLogo.jpg');
  background-size: cover;
  background-position: center;
  filter: brightness(0.75);
  position: fixed;
  inset: 0;
  z-index: -10;
}

.bg-torneo {
  background-image: url('/src/assets/img/angaLogo.jpg');
  background-size: cover;
  background-position: center;
  filter: brightness(0.6);
  position: fixed;
  inset: 0;
  z-index: -10;
}
